/* Importar as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Noto+Sans:ital,wght@0,400;1,100&display=swap');

/* Aplicar estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    margin: 0; /* Removido a margem para garantir que o corpo ocupe toda a tela */
}

/* Estilos para o menu lateral */
nav.menu-lateral {
    width: 60px;
    min-width: 60px; /* Defina uma largura mínima para evitar que o menu desapareça completamente */
    height: 100%;
    background-color: #437b58;
    padding: 100px 0;
    box-shadow: 3px 0 0 #00ff88;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    float: left;
}

/* Estilos quando o menu lateral está expandido */
nav.menu-lateral.expandir {
    width: 15%;
}

/* Estilos quando o menu lateral está expandido */
nav.menu-lateral.expandir {
    width: 15%;
}

/* Estilos para o botão de expansão do menu */
.btn-expandir {
    width: 100%;
    padding-left: 15px;
}

.btn-expandir > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para a lista de itens do menu */
ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

/* Estilos para o item do menu ativo */
ul li.ativo {
    background-color: #ef894a;
    color: orange;
}

ul li.item-menu a:hover {
    background: #ef894a;
    
}

/* Estilos para os links de itens do menu */
ul li.item-menu a {
    color: white;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

/* Estilos para o texto do link do item do menu */
ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

/* Estilos para o texto do link quando o menu está expandido */
nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

/* Estilos para os ícones dos itens do menu */
ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

header {
    width: calc(103.20% - 60px);
    float: left;
    padding: 10px;
    background-color: #2f5d43;
    border-bottom: 2px solid #00ff88;
    color: white;
    text-align: center;

    /* Adicione as seguintes regras para centralizar o header */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clear{
    clear: both;
}
.img-home {
    width: 205vh; /* 95% da largura da viewport */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho original */
    height: auto; /* Mantém a proporção original da imagem */
    max-height: 100%; /* Define a altura máxima como 100% da altura da viewport */
}
