/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,100&display=swap');

/* Define estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

/* Estilos para a seção de login */
.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para a coluna esquerda (imagem e texto) */
.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.left-login h1 {
    color: #77ffc0;
    filter: drop-shadow(5px 5px 10px #77ffc0);
    font-size: 3vw;
    margin: 0;
    padding: 0;
    line-height: 0;
    padding: 20px;
}

.left-login-image{
   width: 15vw;
   filter: drop-shadow(5px 5px 10px #77ffc0);
   
}

.left-login-image1{
    width: 15vw;
    filter: drop-shadow(5px 5px 10px #77ffc0);
}

.left-login-image2{
    width: 15vw;
    margin-left: 200px;
    filter: drop-shadow(5px 5px 10px #77ffc0);
}
/* Estilos para a coluna direita (formulario) */
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o card de login */
.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

/* Estilos para os campos de entrada */
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

/* Estilos para o botão de login */
.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* Estilos responsivos */
@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        font-family: arial;
        font-size: 1.5em;
        
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 30vw;
    }

    .card-login {
        width: 90%;
    }
    .left-login-image1{
        width: 30vw;
    }
    .left-login-image2{
        width: 30vw;
        margin-left: 100px;
        filter: drop-shadow(5px 5px 10px #77ffc0);
    }
}
